/fastfetch-1.6.4.tar.gz
/fastfetch-1.6.5.tar.gz
/fastfetch-1.7.0.tar.gz
/fastfetch-1.7.2.tar.gz
/fastfetch-1.7.5.tar.gz
/fastfetch-1.8.2.tar.gz
/fastfetch-1.9.0.tar.gz
/fastfetch-1.9.1.tar.gz
/fastfetch-1.10.2.tar.gz
/fastfetch-1.10.3.tar.gz
/fastfetch-1.11.0.tar.gz
/fastfetch-1.11.3.tar.gz
/fastfetch-1.12.1.tar.gz
/fastfetch-1.12.2.tar.gz
/fastfetch-2.0.2.tar.gz
/fastfetch-2.0.5.tar.gz
/fastfetch-2.1.1.tar.gz
/fastfetch-2.1.2.tar.gz
